@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

.error {
  color: red;
  font-size: 0.875rem; /* 14px */
  margin-top: 0.25rem; /* 4px */
}
